.welcomeToThe {
    color: #000;
}
.hotline {
    background: linear-gradient(90deg, #005ae1 62.63%, #2d00e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.span {
    letter-spacing: 1em;
}
.welcomeToTheContainer {
    align-self: stretch;
    position: relative;
    line-height: 64px;
    font-weight: 600;
}
.whetherYoureFeeling {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    color: #40566d;
}
.labeldesktopDontHide {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wrapper {
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #005ae1;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.root {
    width: 221px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #005ae1;
}
.welcomeToTheHotlineParent {
    position: absolute;
    width: 72.33%;
    top: calc(50% - 146px);
    right: 14.06%;
    left: 13.61%;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.introductionV2 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fff 32.44%, #e3eeff 73%, #b1cffc);
    height: 832px;
    overflow: hidden;
    text-align: center;
    font-size: 64px;
    color: #000;
    font-family: Inter;
}

